.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table {
  margin-top: 40px;
  width: 100%;
  border: 1px solid lightgray;
  text-align: center;
  vertical-align: center;
}

th, td {
  border-bottom: 1px solid #ddd;
}

th {
  background-color: dimgray;
  color: white;
}

td {
  vertical-align: center;
}

.tableCol {
  width: 25%
}

tr:hover {background-color: lightblue;}

.neg5 {
  background-color: #e74218;
  }

.neg4 {
  background-color: #ec6746;
}

.neg3 {
  background-color: #f08d75;
}

.neg2 {
  background-color: #f5b3a3;
}

.neg1 {
  background-color: #fad9d1;
}

.pos5 {
  background-color: #17bbe8;
}

.pos4 {
  background-color: #45c8ed;
}

.pos3 {
  background-color: #74d6f1;
}

.pos2 {
  background-color: #a2e4f6;
}

.pos1 {
  background-color: #d1f1fa;
}

.zero {
  background-color: seashell;
}

span {
  font-size: 1.5rem;
}

.positive {
  color: #1F1C85;
}

.negative {
  color: #850F1E;
}
